.html
{
    background-color: black;
    text-decoration: white;
}
body
{
   text-align: center;   
}
#p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    color: white;
}